/*Style*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #edede9;
}

body {
  background-color: #edede9;
}
li {
  list-style: none;
}

a {
  color: #619b8a;
  text-decoration: none;
  font-family: inter;
  font-size: 15px;
}

footer {
  color: #619b8a;
  font-family: inter;
  font-size: 13px;
  text-align: center;
}
p {
  color: #619b8a;
  text-decoration: none;
  font-family: inter;
  font-size: 15px;
  margin-right: 2rem;
  margin-left: 2rem;
  line-height: 1.5;
  padding-bottom: 30px;
  padding-top: 10px;
}

h2 {
  color: #619b8a;
  text-decoration: none;
  font-family: inter;
  font-size: 30px;
  padding-bottom: 20px;
  margin-right: 10rem;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
}

h3 {
  color: #619b8a;
  text-decoration: none;
  font-family: inter;
  font-size: 30px;
  padding-bottom: 20px;
  margin-right: 10rem;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
}

/*Font på forside*/

.h1_forside {
  font-family: inter;
  font-weight: 400;
  font-style: normal;
  color: #edede9;
  font-size: 10rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 19rem;
  text-align: center;
}

.skygge {
  text-shadow: -15px 0 #619b8a, 0 1px #619b8a, 1px 0 #619b8a, 0 -1px #619b8a;
}

.tekst_forside {
  font-family: inter;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  margin-left: 80rem;
  margin-top: -1rem;
  color: #619b8a;
}
.velkommen_tekst {
  transform: rotate(360deg);
  font-family: inter;
  right: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  margin-left: -5rem;
  margin-top: -22rem;
  color: #619b8a;
}

/*Burgermenu*/
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.07s ease;
}

.nav-link:hover {
  color: white;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #619b8a;
}

/*Burgermenu funktion*/
@media (max-width: 800px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #edede9;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

/*Layout introduktion til de forskellige undersider*/
@media (min-width: 800px) {
  .intro_grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/*Layout af knapper 02_web*/
@media (min-width: 800px) {
  .link_knap_02 {
    display: grid;
    grid-template-columns: 1fr;
    top: 103%;
    left: 5%;
    width: 10%;
    background-size: cover;
    position: absolute;
  }
}

/*Layout af knapper 03_web*/

@media (min-width: 800px) {
  .link_knap_03 {
    display: grid;
    grid-template-columns: 1fr;
    top: 108%;
    left: 5%;
    width: 10%;
    background-size: cover;
    position: absolute;
  }
}

@media (min-width: 800px) {
  .pitch_knap {
    display: grid;
    grid-template-columns: 1fr;
    top: 108%;
    left: 15%;
    width: 10%;
    background-size: cover;
    position: absolute;
  }
}

@media (min-width: 800px) {
  .se_mere_knap_03 {
    display: grid;
    grid-template-columns: 1fr;
    top: 108%;
    left: 25%;
    width: 10%;
    background-size: cover;
    position: absolute;
  }
}

/*Layout af 04_animation knapper*/

@media (min-width: 800px) {
  .link_knap_04 {
    display: grid;
    grid-template-columns: 1fr;
    top: 112%;
    left: 5%;
    width: 10%;
    background-size: cover;
    position: absolute;
  }
}

@media (min-width: 800px) {
  .se_mere_knap_04 {
    display: grid;
    grid-template-columns: 1fr;
    top: 112%;
    left: 15%;
    width: 10%;
    background-size: cover;
    position: absolute;
  }
}

/*Layout af 05_indhold knapper*/
@media (min-width: 800px) {
  .link_knap_05 {
    display: grid;
    grid-template-columns: 1fr;
    top: 109%;
    left: 5%;
    width: 10%;
    background-size: cover;
    position: absolute;
  }
}

@media (min-width: 800px) {
  .video_knap_05 {
    display: grid;
    grid-template-columns: 1fr;
    top: 109%;
    left: 15%;
    width: 10%;
    background-size: cover;
    position: absolute;
  }
}

@media (min-width: 800px) {
  .se_mere_knap_05 {
    display: grid;
    grid-template-columns: 1fr;
    top: 211%;
    left: 15%;
    width: 10%;
    background-size: cover;
    position: absolute;
  }
}

@media (min-width: 800px) {
  .link_knap_05_re {
    display: grid;
    grid-template-columns: 1fr;
    top: 211%;
    left: 5%;
    width: 10%;
    background-size: cover;
    position: absolute;
  }
}

/*Video på siderne*/
@media (min-width: 800px) {
  .video_grid {
    width: 500px;
    height: 500px;
    margin-top: 20%;
    margin-left: 10%;
  }
}

/* Layout om_mig*/
@media (min-width: 800px) {
  .om_mig_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 70px;
    margin-left: 70px;
    gap: 20px;
  }

  .om_mig2_col {
    display: grid;
    grid-column: 2 / span 1;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
  }

  .om_mig2_col img {
    width: 900px;
  }
}

.om_mig_col {
  display: grid;
  grid-column: 1 / span 1;
  border-right: 2px solid white;
  margin-top: 2rem;
}

.om_mig2_col img {
  width: 500px;
}

/*Layout 02_web*/
@media (min-width: 800px) {
  .web2_grid,
  .web2_grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 70px;
    margin-left: 70px;
    gap: 20px;
    padding-bottom: 60px;
    padding-top: 20px;
  }
}

.web2_col,
.web2_col2 {
  display: grid;
  grid-column: 1 / span 1;
  border-right: 2px solid white;
  margin-top: 2rem;
}

.om_mig2_col {
  display: grid;
  grid-column: 2 / span 1;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

/*Layout 03_web*/
@media (min-width: 800px) {
  .web3_grid,
  .web3_grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 70px;
    margin-left: 70px;
    gap: 20px;
    padding-bottom: 60px;
    padding-top: 20px;
  }
}

.web3_col,
.web3_col2 {
  display: grid;
  grid-column: 1 / span 1;
  border-right: 2px solid white;
  margin-top: 2rem;
}

/*Layout 0_4 animation*/
@media (min-width: 800px) {
  .animation_grid,
  .animation_grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 70px;
    margin-left: 70px;
    gap: 20px;
    padding-bottom: 60px;
    padding-top: 20px;
  }
}

.animation_col,
.animation_col2 {
  display: grid;
  grid-column: 1 / span 1;
  border-right: 2px solid white;
  margin-top: 2rem;
}

img {
  margin-top: 2rem;
  margin-bottom: -20rem;
  margin-left: 2rem;
}

/*Layout 05_indhold*/
@media (min-width: 800px) {
  .indhold_grid,
  .indhold_grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 70px;
    margin-left: 70px;
    gap: 20px;
    padding-bottom: 60px;
    padding-top: 20px;
  }
}

.indhold_col,
.indhold_col2 {
  display: grid;
  grid-column: 1 / span 1;
  border-right: 2px solid white;
  margin-top: 2rem;
}

/*Layout Portfolio*/
@media (min-width: 800px) {
  .portfolio_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 70px;
    margin-left: 70px;
    gap: 20px;
    padding-bottom: 60px;
    padding-top: 20px;
  }
}

.portfolio_col {
  display: grid;
  grid-column: 1 / span 1;
  border-right: 2px solid white;
  margin-top: 2rem;
}

/*MOBILSITE*/

/*Layout forside mobilsite*/
@media (max-width: 800px) {
  .h1_forside {
    font-size: 50px;
  }
  .skygge {
    font-size: 50px;
  }
  .velkommen_tekst {
    font-size: 15px;
    margin-top: -100px;
  }
  .tekst_forside {
    font-size: 15px;
    margin-left: 350px;
  }
}

/*Layout om mig forside*/
@media (max-width: 800px) {
  .om_mig2_col img {
    width: 400px;
    margin: auto;
  }
}

/*Layout 02_web*/
@media (max-width: 800px) {
  .link_knap_02 img {
    width: 500px;
    margin-top: 20px;
  }
}

/*Layout 03_ux*/
@media (max-width: 800px) {
  .web32_grid img {
    width: 400px;
    margin-bottom: 40px;
  }
}

/*Layout 04_ux*/

/*Layout 05_indhold*/
@media (max-width: 800px) {
  .video_grid {
    width: 400px;
    margin-top: 10px;
  }

  .link_knap_05 img {
    width: 100px;
    margin-top: -20px;
  }

  .video_knap_05 img {
    margin-top: 20px;
  }

  .indhold_grid2 img {
    width: 400px;
    margin-bottom: 40px;
  }
  .link_knap_05_re img {
    width: 100px;
    margin-top: 10px;
  }
  .se_mere_knap_05 img {
    width: 100px;
    margin-top: -30px;
    margin-left: 34px;
  }
}

/*Layout 06_Portfolio*/
@media (max-width: 800px) {
  .portfolio_grid img {
    width: 400px;
  }
}
